* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
    padding: 0 20px;
}

a{
    margin-left: 20px;
}

.bar{

}

.logo{
    width: 50px;
}
.hello{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 70px;
}
.bessie{
    position: absolute;
    top: 70%;
    right: 5%;
    font-size: 70px;
}

section img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
